@media (min-width: 300px) {
  main {
    display: flex;
    flex-direction: column;
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      button {
        color: white;
        background-color: var(--secondary-color);
        border: none;
        padding: 10px;
        font-size: large;
        border-radius: 3px;
        transition: .2s;
        &:hover{
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }
  .bg {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    
  }
  .list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    row-gap: 1rem;
    &-gallery{
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      text-align: center;
    }
  
    &-head{
      display: flex;
      justify-content: space-between;
      select{
        padding: 5px;
        border-radius: 5px;
      }
    }

  }
  .card {
    background-color: white;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    &-content {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      button {
        color: black;
        border: none;
        padding: 5px;
        font-size: small;
        border-radius: 3px;
        &:hover{
          cursor: pointer;
          background-color: green;
          color: white;
        }
      }
    }
    &-header {
      display: flex;
      justify-content: space-between;
      button{
        background-color: white;
        border: none;
        &:hover{
          cursor: pointer;
          color: orange;
        }
      }
    }
  }
  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  }
  .modal-content {
    background-color: white;
    margin: 2% auto;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
    padding: 1rem;
    
    &-head{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      button{
        border: none;
        background-color: white;
        &:hover{
          cursor: pointer;
          color: red;
        }
      }
     
    }
    form {
      display: flex;
      width: 100%;
      flex-direction: column;
      row-gap: 2rem;
      input,textarea{
        padding: 0.5rem;
        box-shadow: 0px 10px 20px -18px;
        border: none;
        outline: none;
        background-color: #f5f5f5;
        border-radius: 4px;

      }
      button {
        color: white;
        background-color: var(--secondary-color);
        border: none;
        padding: 5px;
        font-size: medium;
        border-radius: 3px;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}
@media (min-width: 600px) {
  main {
    header {
      button{
        width: 10rem;
      }
    }
  }
  .list {
    padding: 3rem;
    column-gap: 1rem;
    justify-content: center;
    flex-direction: column;
    &-gallery{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 1rem;
      column-gap: 1rem;

    }
    &-head{
      justify-content: start;
      column-gap: 1rem;
    }
  }
  .card {
    width: 10rem;
  }

  .modal-content {
    margin: 15% auto;
    font-size: large;
    form{
      button{
    font-size: large;

      }
    }
    
  }

}
@media (min-width: 1000px) {
  main {
    header {
      padding-bottom: 1rem;
      padding-top: 1rem;
      padding-left: 15rem;
      padding-right: 15rem;
      button{
        width: 10rem;
      }
    }
  }
  .list {
    padding: 3rem;
    column-gap: 4rem;
    justify-content: center;
    flex-direction: column;
 
    &-head{
    font-size: x-large;
    column-gap: 2rem;

    }
    &-gallery{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 1rem;
      column-gap: 1rem;
    }
  }
  .card {
    width: 20rem;
  }
  .modal-content{
    margin: 5% auto;

    width: 50%;
  }
}


